$font-family-bold: "OpenSans-Bold";
$font-family-extra-bold: "OpenSans-Extra-Bold";
$font-family-light: "OpenSans-Light";
$font-family-medium: "OpenSans-Medium";
$font-family-regular: "OpenSans-Regular";
$font-family-semi-bold: "OpenSans-Semi-Bold";

.inputWrapper {
  :global(.ant-form-vertical .ant-form-item-row) {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //text-align: center;
  }
  :global(.ant-form-item-label label) {
    font-family: $font-family-regular;
    font-size: 16px;
    color: #8d4232;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :global(.ant-form-item-explain-error) {
    text-align: center;
    //display: flex;
    //justify-content: center;
    //width: 80%;
    //padding-left: 40px;
  }
  :global(.ant-input-affix-wrapper) {
    height: 40px;
    width: 80%;
    border-radius: 5px;
  }
  :global(.ant-form-item-label label.ant-form-item-required:before) {
    content: unset;
  }
}
